[Unit]
Description=CoLTE Billing Suite
After=network.target mariadb.service
Requires=network.target
Wants=mariadb.service

[Service]
ExecStart=/usr/bin/haulage
Restart=always
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
